<h1>Categories</h1>

<table id="categories">
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <th><%= link_to category.name, category %></th>
        <td><%= link_to "Delete", category, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New category", new_category_path %>
