<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <div>
      <%= link_to "Edit", edit_category_path(category) %> |
      <%= link_to "Delete", category, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>

  <% end %>
</div>

<%= link_to "New category", new_category_path %>
