<h2><%= @title %></h2>

<ul>
  <% if @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
  <% end.empty? %>
    <li>No posts in this category.</li>
  <% end%>
</ul>


<div>
  <%= link_to "Back", categories_path %>
  |
  <%= link_to "Delete", @category, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
